.lotsList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__button_create {
        max-width: 200px;
    }

    &__card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        min-width: 200px;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
    }

    &__name {
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__details {
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        color: #555;

        & > span {
            display: block;
            margin-bottom: 4px;
        }
    }

    &__term,
    &__payment,
    &__date {
        font-size: 0.9rem;
    }
}
